@{
    ViewBag.Title = "Message";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="AnnouncementList">
    @foreach (var announcement in @ViewBag.Announcements)
    {
        <div class="Announcement">
            @announcement.Time.ToString("HH:mm") &mdash; @announcement.Message
        </div>
    }
</div>
